:root {
    --bg-color-dark: #0e0e0e;
    --bg-color-light: #181818;
    --border-color: #413d3c;
    --main-color-light: #01ec54;
    --main-color-darker: #00b23f;
    --main-color-dark: #2a8648;
}

@font-face {
    font-family: 'Minecraft';
    src: url('fonts/minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: Minecraft, sans-serif;
    line-height: 1.8;
    margin: 0;
    background: linear-gradient(var(--bg-color-dark), var(--bg-color-light));
    border: var(--border-color) solid 30px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

header {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 10px;
    background: linear-gradient(135deg, var(--main-color-darker), var(--main-color-light));
    width: 35vw;
    border-radius: 0 0 30px 0;
    border: 10px solid var(--main-color-light);
    border-left: 0;
}

.logo {
    image-rendering: pixelated;
    padding-left: 10px;
    width: 20vw;
    background: linear-gradient(90deg, var(--main-color-dark), var(--main-color-light));
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    margin-left: 35px;
    margin-bottom: 5px;
}

.indicator {
    width: 15px;
    height: 15px;
    margin: 3px;
    background-color: #262626
}

.indicator.active {
    background: radial-gradient(circle, rgb(48, 233, 108), rgb(30, 148, 71));
    height: 7px;
    border-top: #262626 4px solid;
    border-bottom: #262626 4px solid;
}

.duck-button {
    image-rendering: pixelated;
    width: 5vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

.duck-button:hover {
    content: url("./assets/lil_duck_hover.png");
}

.side-bar {
    width: 20vw;
    height: 100%;
    position: absolute;
    right: 0;
}

.dialog-logo {
    width: 100%;
    image-rendering: pixelated;
}

#matrix {
    width: 100%;
    height: calc(100vh - 20vw - 70px);
    top: 20vw;
    position: absolute;
}

.symbol {
    position: absolute;
    white-space: nowrap;
    color: var(--main-color-light);
}

.chat {
    width: calc(100% - 20vw);
    color: var(--main-color-light);
    font-size: clamp(16px, 1.5vw + 10px, 32px);
    font-family: Minecraft, sans-serif;
    overflow-y: auto;
    height: 100%;
    margin: 5px;
}

#input {
    background-color: transparent;
    border: none;
    color: var(--main-color-light);
    font-size: clamp(16px, 1.5vw + 10px, 32px);
    font-family: Minecraft, sans-serif;
    outline: none;
    margin-bottom: 2px;
    width: calc(100% - 5vw);
    height: 45px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-color-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color-darker);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-color-light);
}

.buttons {
    position: absolute;
    left: 0;
    top: 20vh;
}

.button {
    background-color: var(--bg-color-dark);
    border: 5px solid var(--main-color-light);
    border-left: 0;
    width: 35vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--main-color-light);
    font-size: clamp(16px, 1.5vw + 15px, 32px);
}

.button-text {
    margin: 0 0 10px;
}

#body-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main-color-light);
}